[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
solc_version = "0.8.16"
verbosity = 1
via_ir = false
remappings = [
    '/=src',
    "OpenZeppelin/=lib/openzeppelin-contracts/contracts",
    'utils/=utils',
    'libraries/=src/libraries',
    'interfaces/=src/interfaces',
    'cauldrons/=src/cauldrons',
    'swappers/=src/swappers',
    'oracles/=src/oracles',
    'strategies/=src/strategies',
    'tokens/=src/tokens',
    'periphery/=src/periphery',
    'mocks/=src/mocks',
    'lenses/=src/lenses'
]
[fuzz]
runs = 256
max_test_rejects = 65536
seed = '0x3e8'
dictionary_weight = 40
include_storage = true
include_push_bytes = true
# See more config options https://github.com/foundry-rs/foundry/tree/master/config