[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
solc_version = "0.8.16"
verbosity = 1
via_ir = false
remappings = [
    '/=src',
    'OpenZeppelin/=lib/openzeppelin-contracts/contracts',
    'BoringSolidity/=lib/BoringSolidity/contracts/',
    'forge-std/=lib/forge-std/src/',
    'solmate/=lib/solmate/src/',
    'utils/=utils',
    'libraries/=src/libraries',
    'interfaces/=src/interfaces',
    'cauldrons/=src/cauldrons',
    'swappers/=src/swappers',
    'oracles/=src/oracles',
    'strategies/=src/strategies',
    'tokens/=src/tokens',
    'periphery/=src/periphery',
    'mocks/=src/mocks',
    'lenses/=src/lenses',
    'surl/=lib/surl/src/',
    'solidity-stringutils/=lib/surl/lib/solidity-stringutils/src/'
]
auto_detect_remappings = false
match-path = "test/**/*.t.sol"
match-contract = "Test$"
ffi = false # This can be a security hazard, so enable only when some test requires it.

[profile.ci]
verbosity = 4

[profile.ci.fuzz]
verbosity = 4
runs = 256

[fuzz]
runs = 256
max_test_rejects = 65536
seed = '0x3e8'
dictionary_weight = 40
include_storage = true
include_push_bytes = true

[invariant]
fail_on_revert = true
# See more config options https://github.com/foundry-rs/foundry/tree/master/config