name: Foundry

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  FOUNDRY_PROFILE: ci
  MAINNET_RPC_URL: https://eth.llamarpc.com
  OPTIMISM_RPC_URL: https://1rpc.io/op
  BSC_RPC_URL: https://binance.nodereal.io
  FANTOM_RPC_URL: https://rpc2.fantom.network
  ARBITRUM_RPC_URL: https://1rpc.io/arb
  POLYGON_RPC_URL: https://polygon.llamarpc.com
  AVALANCHE_RPC_URL: https://api.avax.network/ext/bc/C/rpc
  MOONRIVER_RPC_URL: https://moonriver.public.blastapi.io
  PRIVATE_KEY: "unset"

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: yarn --ignore-scripts
      - run: yarn task init

      - name: Run Forge build
        run: |
          (cd lib/forge-deploy && cargo build --release && cp target/release/forge-deploy ../../forge-deploy)
          ./forge-deploy gen-deployer
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          forge test --gas-report -vv
        id: test
