name: Foundry

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  FOUNDRY_PROFILE: ci
  MAINNET_RPC_URL: https://cloudflare-eth.com
  OPTIMISM_RPC_URL: https://1rpc.io/op
  BSC_RPC_URL: https://binance.nodereal.io
  FANTOM_RPC_URL: https://rpc2.fantom.network
  ARBITRUM_RPC_URL: https://1rpc.io/arb
  POLYGON_RPC_URL: https://polygon.llamarpc.com
  AVALANCHE_RPC_URL: https://api.avax.network/ext/bc/C/rpc

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Forge build
        uses: dtolnay/rust-toolchain@nightly
        run: |
          (cd lib/forge-deploy && cargo build --release && cp target/release/forge-deploy ../../forge-deploy)
          ./forge-deploy gen-deployer
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          forge test -vv
        id: test
